<%- include('../partials/head') %>

    <body>
        <%- include('../partials/card-css') %>
            <%- include('../partials/header') %>
                <div class="container">
                    <h1 class="text-lg">Pick a world to explore</h1>
                    <p class="text-md">Choose a topic you are curious about to begin a story</p>
                    <div class="cards-container">
                        <% topics.forEach(function(topic) { %>
                            <%- include('../partials/card', { icon: topic.icon, title: topic.title, descriptionUrl:
                                topic.urls.getUrlDescription, navigateUrl: topic.urls.navigationLink }) %>
                                <% }); %>
                    </div>
                </div>

    </body>