<%- include('../partials/head') %>

    <body>
        <%- include('../styles/card2') %>
            <%- include('../partials/header') %>
                <div class="container">
                    <h1 class="text-lg">Pick a world to explore</h1>
                    <p class="text-md">Choose a topic you are curious about to begin a story</p>
                    <div class="cards-container">
                        <%- include('../partials/card2') %>
                    </div>

    </body>