<div class="cards-container">
    <% topics.forEach(function(topic) { %>
        <%- include('../partials/card', { icon: topic.icon, title: topic.title, descriptionUrl:
            topic.urls.getUrlDescription, navigateUrl: topic.urls.navigationLink }) %>
            <% }); %>
</div>