<div class="card">
    <div class="card-title text-lg font-bold font-sans text-text">
        <%= title %>
    </div>
    <div class="skeleton-container" hx-get="<%= descriptionUrl %>" hx-trigger="load" hx-swap="outerHTML">
        <%- include('../partials/skeleton') %>
    </div>
    <span class="emoji-icon text-xlg">
        <%= icon %>
    </span>
</div>