<div class="card-2">
    <div class="card">
      <h2 class="card-title text-lg text-primary"><%= card.title %></h2>
      <div class="tags-container">
        <% card.tags.forEach(tag => { %>
          <span class="tag text-xs tag-contrast"><%= tag %></span>
        <% }); %>
      </div>
    </div>
  </div>
  